/**
 See: CSS Variables
 https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables
**/
:root {
    --grid-size: 450px;
    --margin-size: 5px;
    --square-size: calc((var(--grid-size) / 3) - var(--margin-size));
  }
  
  body {
    font-family: sans-serif;
  }
  
  #grid {
    align-content: space-between;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: var(--grid-size);
    width: var(--grid-size);
  }
  
  #grid div {
    background-color: pink;
    height: var(--square-size);
    width: var(--square-size);
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #grid div img {
    width: 100%;
  }
  
  #restart {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #ff4c4c;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;
  }
  
  #restart:hover {
    background-color: #e63e3e;
  }
  
  #restart:active {
    transform: scale(0.95);
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  h1 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  input[type="text"] {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 70%;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    background-color: #2980b9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #3498db;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  
  li span {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  li button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  li button:hover {
    background-color: #c0392b;
  }
  
  li.completed {
    background-color: #ecf0f1;
  }